.example-card {
    max-width: 400px;
  }
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:2973350052. */
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }