  <mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{description}}</mat-card-subtitle>
      </mat-card-header>
      @defer (on hover) {
        <img mat-card-image src="{{image}}" alt="Image of {{title}}">
      }
      @placeholder {
        <mat-chip>Hover me</mat-chip>
      }
      <mat-card-actions class="action-buttons">
        <button mat-button>Reviews</button>
        <button mat-button>Buy</button>
      </mat-card-actions>
</mat-card>